#box{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    outline: 1px solid black;
}

ul#list{
    padding-left: 0;
}

#list li{
    list-style-type: none;
    line-height: 30px;
    display: block;
    border-bottom: 1px solid grey;
    margin: 10px 0;
}

span.delete{
    float: right;
    background: green;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
    padding: 0 5px;
}

.hidden{
    visibility: hidden;
}